<form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input
      formControlName="email"
      type="email"
      class="form-control"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
    <div
      class="form-text text-danger"
      *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)"
    >
      Email is required.
    </div>
    <div
      class="form-text text-danger"
      *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)"
    >
      Email is invalid.
    </div>
  </div>
  <div class="form-floating">
    <input
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
    <div
      class="form-text text-danger"
      *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)"
    >
      Password is required.
    </div>
    <div
      class="form-text text-danger"
      *ngIf="Password.errors?.['maxlength'] || Password.errors?.['minlength'] && (Password.dirty || Password.touched)"
    >
      Password should be at least 10 and at the max 64 characters long.
    </div>
  </div>

  <button
    [disabled]="loginForm.invalid"
    class="w-100 btn btn-lg btn-primary"
    type="submit"
  >
    Login
  </button>
</form>
