<form>
  <div class="mb-3">
    <label for="firstName" class="form-lable">First Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="firstName"
      name="firstName"
    />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-lable">Last Name</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="lastName"
      name="lastName"
    />
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-lable">Category</label>

    <select
      class="form-control"
      name="categoryId"
      id="categoryId"
      [(ngModel)]="categoryId"
    >
      <option
        *ngFor="let category of contactCategoriesList$ | async"
        [value]="category.id"
      >
        {{ category.categoryName }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="subCategoryId" class="form-lable">Sub Category</label>
    <select
      class="form-control"
      name="subCategoryId"
      id="subCategoryId"
      [(ngModel)]="subCategoryId"
    >
      <option
        *ngFor="let subCategory of contactSubCategoriesList$ | async"
        [value]="subCategory.id"
      >
        {{ subCategory.subCategoryName }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="customSubCategory" class="form-lable"
      >Custom Sub Category</label
    >
    <input
      type="text"
      class="form-control"
      [(ngModel)]="customSubCategory"
      name="customSubCategory"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-lable" required>Email</label>
    <input
      type="email"
      class="form-control"
      [(ngModel)]="email"
      name="email"
      required
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
    />
  </div>
  <div class="mb-3">
    <label for="phoneNumber" class="form-lable">Phone number</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="phoneNumber"
      name="phoneNumber"
    />
  </div>
  <div class="mb-3">
    <label for="dateOfBirth" class="form-lable">DoB</label>
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dateOfBirth"
      name="dateOfBirth"
    />
  </div>
  <button
    (submit)="addContact()"
    *ngIf="contact.id == 0"
    class="btn btn-primary"
    type="submit"
  >
    Add
  </button>
  <button
    (click)="updateContact()"
    *ngIf="contact.id != 0"
    class="btn btn-primary"
    type="submit"
  >
    Update
  </button>
</form>
